.advantages {}

.advantages__title {
  margin: 0;
  padding: 0;
  color: #111111;
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.advantages__item {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.advantages__text {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    left: 0px;
    top: -5px;
  }
  &--1 {
    &::before {
      background: #68b738 url("../../img/min/raster/advantage-leaf@1x.png") no-repeat center;
    }
  }
  &--2 {
    &::before {
      background: #68b738 url("../../img/min/raster/advantage-powder@1x.png") no-repeat center;
    }
  }
  &--3 {
    &::before {
      background: #68b738 url("../../img/min/raster/advantage-dining@1x.png") no-repeat center;
    }
  }
  &--4 {
    &::before {
      background: #68b738 url("../../img/min/raster/advantage-clock@1x.png") no-repeat center;
    }
  }
}

@media (min-width: $tabletSize) {
  .advantages__title {
    color: rgb(17, 17, 17);
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
  .advantages__list {
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages__item {
    justify-content: flex-start;
    width: 339px;
    min-height: 228px;
    align-items: flex-end;
    padding-bottom: 48px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .advantages__text {
    width: 245px;
    padding: 0;
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    &::before {
      width: 80px;
      height: 80px;
      left: 0px;
      top: -115px;
    }
    &::after {
      display: flex;
      position: absolute;
      width: 200px;
      height: 228px;
      color: rgb(242, 242, 242);
      font-family: Oswald;
      font-size: 281px;
      font-weight: 400;
      line-height: 281.07px;
      left: 126px;
      top: -153px;
      z-index: -1;
    }
    &--1 {
      &::after {
        content: "1";
      }
    }
    &--2 {
      &::after {
        content: "2";
      }
    }
    &--3 {
      &::after {
        content: "3";
      }
    }
    &--4 {
      &::after {
        content: "4";
      }
    }
  }
}

@media (min-width: $desktopSize) {
  .advantages__item {
    width: 245px;
  }
}
