.header {
  padding: 0 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

.header__navigation {
  flex-direction: column;
  align-items: center;
  display: none;
}

.header__navigation.no-js {
  display: flex;
}

.header__navigation--active {
  display: flex;
}

.header__link {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  vertical-align: text-top;
  color: #111111;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 22px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.116);
}

.header__logo-mobile {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header__burger {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
}

.header__burger.no-js {
  display: none;
}

@media (min-width: $tabletSize) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 190px;
  }
  .header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 72%;
  }
  .header__burger {
    display: none;
  }
  .header__link {
    margin: 0;
    padding: 0;
    border-top: none;
    margin-left: 30px;
    text-align: right;
    width: auto;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .header__link--active {
    border-bottom: 2px solid rgb(104, 183, 56);
  }
}

@media (min-width: $desktopSize) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header__index {
    a {
      color: white;
    }
    .header__link--active {
      border-bottom: 2px solid white;
    }
  }
}
